VITE_API_URL=https://devmichelpaixao.infinityfreeapp.com
VITE_SOCKET_URL=https://devmichelpaixao.infinityfreeapp.com
# Sentry (obtenha em https://sentry.io)
# VITE_SENTRY_DSN=https://xxxxxx@oxxxx.ingest.sentry.io/xxxxxx
# VITE_SENTRY_ORG=sua-org
# VITE_SENTRY_PROJECT=saas-frontend
# VITE_SENTRY_AUTH_TOKEN=seu-token-de-deploy
# VITE_SENTRY_DEV=false